[default]
# default generic configuration section
# debug can be 0
debug = 1

[logger]
# logger can be: syslog, file or 0|no|false|off (case insensitive)
logger = syslog
# if logger if file, specify the file where save logs
logger_file = 

[provider]
# gmail part. we need only user and pwd
gmail_user = user
gmail_password =

# smtp part. if empty, the connection will be plain
smtp_host =
smtp_port =
smtp_use_tls =
smtp_starttls =
smtp_user =
smtp_password =

